body {
  font-size: 16px;
  color: fff;
  background-color: maroon;
  font-family: 'Oxygen', sans-serif;
}

/**header**/
nav {
  background-color: black;
}

div > a {
  color: white;
}

div a:hover {
  color: rgb(0, 164, 252);
}

h1 {
  color: white;
  background-color: black;
  text-transform: lowercase;
  text-align: center;
  font: 12px;
  padding: 10px;
  
}

h2 {
  color:white;
  padding: 20px;
  text-transform: uppercase;
}

p {
  color: white;
  text-align: left;
  clear: right;
  padding: 20px;
  margin-top: -20px;
}

img {
  border-radius: 10px;
  height: auto;
  float: left;
  margin: 20px;
}

body > img {
  width: 55%;
  height: 30%;
}

nav {
  position: fixed;
}


/**
<a class="navbar-brand" href="https://github.com/azliep/coursera-test" target="_blank">
<img src="https://dinopixel.com/preload/0122/magic-cat.png" width="60" height="30" alt="Cat">
Cathub
</a>
**/