

.container {
    column-width: 250px;
    column-gap: 20px;
  }

  h1, h2 {
    text-align: center;
  }
  
  .card {
    break-inside: avoid;
    page-break-inside: avoid;
    background-color: rgb(127, 0, 153);
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 0 0 1em 0;
    color:white;
  }