    html {
        margin: 10px;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: black;
       }
    
    li {
    float: left;
    }
  
    li a {
       display: inline-block;
       color: white;
       text-align: center;
       text-decoration: none;
       padding: 14px 16px;
    }
  
  li a:hover {
    background-color: #111;
  }

    
    a:link, a:visited{
        text-decoration: none;
        background-color: white;
        border:px solid white;
        color: rgb(14, 13, 13);
        display: block;
        width: 370.8px;
        text-align: center;
        margin-bottom: 3px;
    }
    a:hover, a:active {
        background-color: rgb(64, 188, 255);
        color:white
    }
    body {
        margin: 10;
        padding: 10; 
        background:url('https://images.news18.com/ibnlive/uploads/2022/07/shutterstock_1498748855.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    h1 {
        color: white;
        background-color: black;
        font: 30px;
        text-align: center;
        white-space: pre-wrap;
        padding: 5px;
        text-transform: uppercase;
        position: relative;
    }
    p, pre, article, span {
        position:relative;
        color: white;
        font-size: 15px;
        text-align: center;
        opacity: 0.9;
        font-family: 'Times New Roman', Times, serif

    }
    h2{
        text-transform: uppercase;
        color: white;
        padding: 10px;
        text-align: center;

    }

    div, .class {
        color: white;
        text-align: center;
    }

    #id {
        color:white;
        text-align: center;

    }

    header li:nth-child(odd) {
        font-size: 12px;
    }

    footer {
        text-align: center;
    }

    img {
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
     }

    footer > p {
        text-align: left;
    }
